#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  html{
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  header{
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  body {
    background-color: rgba(255, 255, 255, 0.1);
    margin:0px;
    padding: 0px;
    font-family: system-ui,Helvetica,Arial,sans-serif;
  }
  
  .search-box{
    background-color: rgba(0, 0, 0, 0.80);
    padding: 2.6rem;
    color: white;
    text-align: left;
    padding-left: 1rem;
  }

  .search-box p{
    font-size: 2em;
    margin: 0px;
  }

  .search-bar{
    width: 80%;
    height: 3em;
    border-radius: 10px;
  }

  .blockchain-tabel{
    width: 100%;
    border: 1px black solid;
  }

  .tabel-header{
    font-size: 1.5em;  
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px black solid;
  }
  
  .block-count p{
    font-weight: 500;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
  }
  
  .search-result{
    align-items: center;
    padding: 10px;
    margin: 0px;
  }

  span {
    margin: 5px;
    padding: 5px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    border: 1px rgba(0,0,0,0.2) solid;
    font-size: 1.2em;
    font-weight: bold;
    white-space: nowrap;
    display: inline-block;
  }

  td{
    font-size: 1.2em;
    border: 1px black solid;
  }

  button{
    height: 3.4em;
    width: 10%;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
  }

  img{
    height:3em;
    padding: 10px;
  }