#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  
  html{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.2);
  
  }
  
  header{
    margin:0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  body {
    background-color: rgba(255, 255, 255, 0.1);
    margin:0px;
    padding: 0px;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  }
  
  .search-box{
    background-color: rgba(0, 0, 0, 0.80);
    padding: 2.6rem;
    border: 0px;
    margin: 0px;
    color: white;
    text-align: left;
    display: block;
    padding-left: 1rem;
    padding-right: 0;
    }
  .search-box p{
    font-size: 2em;
    margin: 0%;
  }
  .search-bar{
    width: 80%;
    height: 3em;
    border-radius: 5px;
    
  }
  
  .tabel-header{
    width: 2%;
    font-size: 1.5em;  
    background-color: rgba(255, 255, 255, 0.5);
    
  }
  
  .block-count p{
    font-weight: 500;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.9);
    margin: auto;
    width: 100%;
    text-align: center;
    
  }
  .search-box button{
    background-color:transparent;
    border:0;
    margin:0;
    padding: 0;
    height: 3em;
    width: 10%;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
  
  }
  
  .search-results{
    width: 80%;
  }
  span {
    padding: 10px;
  }